
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="mtg_card.css">
        <link rel="stylesheet" href="cardplate.css">
    </head>
    <body>
        <%- require "erb" -%>
        <%- require "./mtg_card_data.rb" -%>
        <%- ROW = 3; COLUMN = 3 -%>
        <%- rowcnt = 0; colcnt = 0 -%>
        <%- cardData = MTGParser "CardDataBase/M14_printer.csv" -%>
        <%- erb = ERB.new(File.read("_mtg_card.html.erb"), nil, nil, "_erbout2") -%>
        <%- cardData.each do |card| -%>
            <%- card.printNum.times do |x| -%>
                <%- if colcnt % COLUMN == 0 then -%>
                    <div class="cardRow">
                <%- end -%>
                <div class="frame"></div>
                <%- erb.result(binding) -%>
                <%- if colcnt % COLUMN == COLUMN - 1 then -%>
                    </div>
                    <%- if rowcnt % ROW == ROW - 1 then -%>
                        <div class="pagebreak" ></div>
                    <%- end -%>
                    <%- rowcnt += 1 -%>
                <%- end -%>
                <%- colcnt += 1 -%>
            <%- end -%>
        <%- end -%>
        <%- if colcnt % COLUMN != 0 then -%>
            </div>
        <%- end -%>
</body>
</html>

