
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="mtg_card.css">
        <link rel="stylesheet" href="cardplate.css">
    </head>
    <body>
        <% ROW = 3; COLUMN = 3 %>
        <% rowcnt = 0; colcnt = 0 %>
        <% cardNum = 10 %>
        <% cardData = [] %>
        <% cardNum.times{ |c|  cardData.push c } %>
        <% cardData.each do |card| %>
            <% if colcnt % COLUMN == 0 then %>
                <div class="cardRow">
            <% end %>
            <% render :partial => "mtg_card", :locals => { :card => card } %>
            <div class="frame"></div>
            <% if colcnt % COLUMN == COLUMN - 1 then %>
                </div>
                <% if rowcnt % ROW == ROW - 1 then %>
                    <div class="pagebreak" ></div>
                <% end %>
                <% rowcnt += 1 %>
            <% end %>
            <% colcnt += 1 %>
        <% end %>
        <% if colcnt % COLUMN != 0 then %>
            </div>
        <% end %>
</body>
</html>

